@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');


.navbar{
  height: 10vh;
  width: 100%;
  background-color: lawngreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
}